@import "tailwindcss";

@theme {
  --font-sans: "Raleway", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /*@apply bg-black;*/

  /*@media (prefers-color-scheme: dark) {*/
  /*  color-scheme: dark;*/
  /*}*/
}

.font-raleway {
  font-family: "Raleway", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-manrope {
  font-family: "Manrope", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: #ffee13;
  color: #000000;
  border: 1.5pt solid black;
  padding: 4pt 8pt;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
  color: #383838;
  box-shadow: #000000 10px 10px 0 1px;
}

.primary-btn:active {
  box-shadow: #000000 0 0 0 1px;
  transform: translate(5px, 5px);
}
